<div class="mini-hero-sec bg-img">
  <h2 class="page-title text-center lz">
    AI <br> & <br> Machine Learning
  </h2>
</div>
<section class="gradient-section py-5 ">
  <div class="d-flex flex-column">
    <h3 class="mb-4 fw-medium lz">Services</h3>
    <owl-carousel-o [options]="customOptions1">
      <ng-container *ngFor="let slide of slidesStore">
        <ng-template carouselSlide [id]="slide.id">
          <div class="slide-container">
            <img [src]="slide.src" [alt]="slide.alt" />
            <div class="image-text-wrapper">
              <div class="overlay-text">
                <h4 class="text-white slide-title monda">{{ slide.title }}</h4>
                <p class="text-white slide-desc monda">{{ slide.description }}</p>
              </div>
            </div>
          </div>
        </ng-template>
      </ng-container>
    </owl-carousel-o>
  </div>

  <div class="d-flex flex-column mt-5">
    <h3 class="mb-4 fw-medium lz">Industries</h3>
    <owl-carousel-o [options]="customOptions1">
      <ng-container *ngFor="let slide of slidesStore2">
        <ng-template carouselSlide [id]="slide.id">
          <div class="slide-container">
            <img [src]="slide.src" [alt]="slide.alt" />
            <div class="image-text-wrapper">
              <div class="overlay-text">
                <h4 class="text-white slide-title monda">{{ slide.title }}</h4>
                <p class="text-white slide-desc monda">{{ slide.description }}</p>
              </div>
            </div>
          </div>
        </ng-template>
      </ng-container>
    </owl-carousel-o>
  </div>
</section>