<div class="industry-hero-section bg-img">
  <div class="page-title text-center">
    Ai <br> & <br> Machine <br> Learning
  </div>
</div>
<section class="gradient-section py-5 ">
  <div class="project-section" id="carouselSection1">
    <h3 class="mb-4">Services</h3>
    <div id="carouselExampleCaptions1" class="carousel carousel-dark slide" data-bs-ride="false">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="card-group">
            <div class="card">
              <img src="/assets/imgs/test-1.jpg" class="card-img-top" alt="...">
            </div>
            <div class="card">
              <img src="/assets/imgs/test-1.jpg" class="card-img-top" alt="...">
            </div>
            <div class="card">
              <img src="/assets/imgs/test-1.jpg" class="card-img-top" alt="...">
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="card-group">
            <div class="card">
              <img src="/assets/imgs/test-1.jpg" class="card-img-top" alt="...">
            </div>
            <div class="card">
              <img src="/assets/imgs/test-1.jpg" class="card-img-top" alt="...">
            </div>
            <div class="card">
              <img src="/assets/imgs/test-1.jpg" class="card-img-top" alt="...">
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="card-group">
            <div class="card">
              <img src="/assets/imgs/test-1.jpg" class="card-img-top" alt="...">
            </div>
            <div class="card">
              <img src="/assets/imgs/test-1.jpg" class="card-img-top" alt="...">
            </div>
            <div class="card">
              <img src="/assets/imgs/test-1.jpg" class="card-img-top" alt="...">
            </div>
          </div>
        </div>
      </div>
      <div class="btns">
        <button class="carousel-control-prev btn-nav" type="button" data-bs-target="#carouselExampleCaptions1"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next btn-nav" type="button" data-bs-target="#carouselExampleCaptions1"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>

    <!-- Progress Bar -->
    <div class="carousel-progress">
      <div class="carousel-progress-bar" id="carouselProgressBar1"></div>
    </div>
  </div>






  <div class="project-section" id="carouselSection2">
    <h3 class="mb-4">Industries</h3>
    <div id="carouselExampleCaptions2" class="carousel carousel-dark slide" data-bs-ride="false">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="card-group">
            <div class="card">
              <img src="/assets/imgs/test-1.jpg" class="card-img-top" alt="...">
            </div>
            <div class="card">
              <img src="/assets/imgs/test-1.jpg" class="card-img-top" alt="...">
            </div>
            <div class="card">
              <img src="/assets/imgs/test-1.jpg" class="card-img-top" alt="...">
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="card-group">
            <div class="card">
              <img src="/assets/imgs/test-1.jpg" class="card-img-top" alt="...">
            </div>
            <div class="card">
              <img src="/assets/imgs/test-1.jpg" class="card-img-top" alt="...">
            </div>
            <div class="card">
              <img src="/assets/imgs/test-1.jpg" class="card-img-top" alt="...">
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="card-group">
            <div class="card">
              <img src="/assets/imgs/test-1.jpg" class="card-img-top" alt="...">
            </div>
            <div class="card">
              <img src="/assets/imgs/test-1.jpg" class="card-img-top" alt="...">
            </div>
            <div class="card">
              <img src="/assets/imgs/test-1.jpg" class="card-img-top" alt="...">
            </div>
          </div>
        </div>
      </div>
      <div class="btns">
        <button class="carousel-control-prev btn-nav " type="button" data-bs-target="#carouselExampleCaptions2"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next btn-nav " type="button" data-bs-target="#carouselExampleCaptions2"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    <!-- Progress Bar -->
    <div class="carousel-progress">
      <div class="carousel-progress-bar" id="carouselProgressBar2"></div>
    </div>
  </div>
</section>