<div class="hero-section bg-img">

</div>
<div class="overview-container clearfix ">
  <div class="row">
    <!-- Heading Section -->
    <div class="col-12 col-lg-4 mb-4">
      <div class="mini-heading">Company Overview</div>
      <div class="heading-about mt-4">Ibda, story <br> and purpose</div>
    </div>
    <!-- Text Section -->
    <div class="col-12 col-lg-8">
      <div class="overview-text monda">

        <span>In 2022</span>, a few friends met at a conference, hit it off, and discovered three common points that changed
        everything.
        First, they realized that, given the current state of the IT industry, they had gained enough knowledge and
        experience to understand how international IT companies operate. <br> <br>
        More importantly, they could easily spot and
        predict which projects, clients, or teams were heading for disaster—or, in softer terms, difficult times. <br>
        <br>
        At first, they thought this ability was nothing special, but over time, it became clear just how valuable this
        insight was. It was a skill rooted in their deep understanding of work ethics and organizational dynamics,
        allowing them to pinpoint problems in any project with ease. <br> <br>
        Second, they wanted to fully utilize the untapped potential of Pakistani talent on the global IT stage. With
        Pakistan being the world’s 6th most populous country and 60% of its population under the age of 30, there’s an
        immense reservoir of raw potential. Every now and then, we see sparks of this brilliance making international
        headlines. Yet, it’s clear that this goldmine of raw diamonds needs polishing and nurturing to truly shine. <br>
        <br>
        Third, they were all tired of working under non-technical bosses—those traditional "Saith" figures, known in
        local language as miserly, narrow-minded, and micromanaging uncles. They wanted to break free and be their own
        bosses, crafting a workplace where innovation could thrive without the stifling influence of outdated mindsets.
        This realization led to the inception of Ibda, a name that fittingly means beginning or inception. Though we’re
        a new company, our team has over 12 years of collective experience working with industry leaders like Brose,
        Siemens, BMZ, and QT. <br> <br> We’re here to represent Pakistan’s talent on the global stage and take part in shaping the
        future of IT.
      </div>
    </div>
  </div>
</div>
<!-- <div class="leadership-container m-0 pt-5">
  <h3 class="leadership-heading text-center mb-5">Our Leadership</h3>
  <div class="row justify-content-center">

    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4 d-flex justify-content-center flex-column align-items-center">
      <img src="assets/imgs/leadership-1.jpg" alt="Image 1" class="img-fluid img">
      <div class="leader-content mt-4">
        <div class="leader-name">Name</div>
        <div class="leader-position">Position</div>
      </div>
    </div>

    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4 d-flex justify-content-center flex-column align-items-center">
      <img src="assets/imgs/leadership-1.jpg" alt="Image 2" class="img-fluid img">
      <div class="leader-content mt-4">
        <div class="leader-name">Name</div>
        <div class="leader-position">Position</div>
      </div>
    </div>

    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4 d-flex justify-content-center flex-column align-items-center">
      <img src="assets/imgs/leadership-1.jpg" alt="Image 3" class="img-fluid img">
      <div class="leader-content mt-4">
        <div class="leader-name">Name</div>
        <div class="leader-position">Position</div>
      </div>
    </div>

    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4 d-flex justify-content-center flex-column align-items-center">
      <img src="assets/imgs/leadership-1.jpg" alt="Image 4" class="img-fluid img">
      <div class="leader-content mt-4">
        <div class="leader-name">Name</div>
        <div class="leader-position">Position</div>
      </div>
    </div>

    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4 d-flex justify-content-center flex-column align-items-center">
      <img src="assets/imgs/leadership-1.jpg" alt="Image 5" class="img-fluid img">
      <div class="leader-content mt-4">
        <div class="leader-name">Name</div>
        <div class="leader-position">Position</div>
      </div>
    </div>

    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4 d-flex justify-content-center flex-column align-items-center">
      <img src="assets/imgs/leadership-1.jpg" alt="Image 6" class="img-fluid img">
      <div class="leader-content mt-4">
        <div class="leader-name">Name</div>
        <div class="leader-position">Position</div>
      </div>
    </div>
  </div>
</div> -->