.bg-img {
  background-image: url('/assets/imgs/about-us.jpg');
}


.about-hero-section {
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  max-width: 92%;
  height: 70vh;
  margin: 0px auto;
}

span {
  font-weight: 600;
}

/* Large screen styles */
.heading-top {
  color: rgba(255, 255, 255, 0.58);
  text-align: center;
  font-size: 32px;
  font-weight: 200;
}

/* Responsive heading font-size for smaller screens */
@media (max-width: 768px) {
  .heading-top {
    font-size: 24px;
    /* Smaller font for tablet */
  }
}

@media (max-width: 576px) {
  .heading-top {
    font-size: 20px;
    /* Smaller font for mobile */
  }
}

/* Large screen styles */
.about-main-text {
  color: white;
  text-align: center;
  font-size: 70px;
  font-weight: 100;
}

/* Responsive text font-size for smaller screens */
@media (max-width: 768px) {
  .about-main-text {
    font-size: 50px;
    /* Smaller font for tablet */
  }
}

@media (max-width: 576px) {
  .about-main-text {
    font-size: 36px;
    /* Smaller font for mobile */
  }

}

.overview-container {
  overflow: hidden;
  background-size: cover;
  width: 100%;
  height: auto;
  max-width: 1300px;
  margin-top: 7rem;
  margin-bottom: 5rem;
  padding: 0 4rem 0 6rem;
}

.overview-text {
  color: #363232d4;
  font-size: 18px;
}

.leadership-container {
  background-color: black;
  padding: 6rem;
}

.leadership-heading {
  color: white;
}

.leader-position {
  color: #9d9d9d;
  letter-spacing: 0;
  line-height: 22px;
  text-align: center;
  /* Changed from -webkit-center to center */
}

.leader-name {
  color: #4f52e2;
  letter-spacing: 0;
  line-height: 22px;
  font-weight: bold;
}

.img {
  border-radius: 20px;
  transition: transform 0.3s ease;
  will-change: transform;
  /* Added will-change for performance optimization */
}

.img:hover {
  transform: scale(1.05);
}

@media (max-width: 425px) {
  .overview-container {
    padding: 0 2rem 0 2rem;
  }
}