.gradient {
  background: linear-gradient(to bottom, #f2e89d 20%, #ffffff 50%, #008080 80%);
  height: 100%;
}

.heading {
  font-size: 3rem;
  position: absolute;
  top: 8rem;
  line-height: 1.2;
}

.services {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  width: 86vw;
  margin-top: calc(8rem + 4rem);
}

.service {
  border-radius: 45px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  height: 18rem;
}

.service-label {
  border-radius: 45px;
  font-size: x-large;
  margin: 0;
  padding: 0;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.iot {
  background-image: url('/assets/imgs/hero-iot.jpg');
}

.ed-tech {
  background-image: url('/assets/imgs/services-ed-tech.jpeg');
}

.web {
  background-image: url('/assets/imgs/web.jpg');
}

.ai-ml {
  background-image: url('/assets/imgs/AI.jpg');
}

a {
  text-decoration: none;
  cursor: pointer;
  color: black;
}

@media (max-width: 425px) {
  .service-label {
    backdrop-filter: blur(0.8px);
  }

  .service-label p {
    margin-top: 5rem;
  }
}