<div class="hero-section gradient service-bg-img">
  <div class="heading">
    Crafts and <br> Capeabilities
  </div>
  <div class="services">
    <a routerLink="/embedded" class="row service iot">
      <div class="service-label col-lg-4 col-12">
        <p class="pt-4">Embedded Systems & IOT</p>
      </div>
    </a>
    <a routerLink="/ed-tech" class="row service ed-tech">
      <div class="service-label col-lg-4 col-12">
        <p class="pt-4">Ed-Tech Development</p>
      </div>
    </a>
    <a routerLink="/web-dev" class="row service web">
      <div class="service-label col-lg-4 col-12">
        <p class="pt-4">Web & Mobile App <br> Development</p>
      </div>
    </a>
    <a routerLink="/ai-ml" class="row service ai-ml">
      <div class="service-label col-lg-4 col-12">
        <p class="pt-4">AI & Machine Learning</p>
      </div>
    </a>
  </div>
</div>