<div class="hero-section gradient service-bg-img">
  <div class="heading monda">
    Crafts and <br> Capeabilities
  </div>
  <div class="services">
    <a routerLink="/embedded" class="row service iot">
      <div class="service-label col-lg-4 col-12">
        <h3 class="p-4 lz fw">Embedded Systems & IoT</h3>
      </div>
    </a>
    <a routerLink="/ed-tech" class="row service ed-tech">
      <div class="service-label col-lg-4 col-12">
        <h3 class="p-4 lz fw">Ed-Tech Development</h3>
      </div>
    </a>
    <a routerLink="/web-dev" class="row service web">
      <div class="service-label col-lg-4 col-12">
        <h3 class="p-4 lz fw">Web & Mobile App <br> Development</h3>
      </div>
    </a>
    <a routerLink="/ai-ml" class="row service ai-ml">
      <div class="service-label col-lg-4 col-12">
        <h3 class="p-4 lz fw">AI & Machine Learning</h3>
      </div>
    </a>
  </div>
</div>