.industry-hero-section {
  background-color: brown;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  max-width: 92%;
  padding: 30px;
  margin: 10px auto;
}

.bg-img {
  background-image: url('/assets/imgs/web.jpg');
}

.page-title {
  border-radius: 45px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.8px);
  font-size: x-large;
  background: rgba(255, 255, 255, 0.66);
  margin: 0;
  padding: 3rem 0;

}

/* Gradient section css */

.gradient-section {
  background: linear-gradient(to top, teal, rgb(172, 211, 236));
  color: white;
  min-height: 300px;
  max-width: 92%;
  margin: -10px auto;
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
  padding: 0 100px;
}

h3 {
  float: left;
  font-weight: 100;
}

.card-group {
  display: flex;
  gap: 6rem;
}

.card {
  border-radius: 45px !important;
  overflow: hidden;
}

.btn-nav {
  position: unset;
  width: 5%;
  padding: 0;
  color: #fff;
  text-align: center;
  background: 0 0;
  border: 0;
  opacity: .5;
  transition: opacity .15s ease;
}

.btns {
  display: flex;
  margin: 2rem;
}

.project-section {
  margin: 2rem 0 4rem 0;
}

.carousel-progress {
  position: relative;
  height: 4px;
  background-color: #e0e0e0;
  margin-top: 15px;
  overflow: hidden;
}

.carousel-progress-bar {
  height: 100%;
  width: 0;
  background-color: #007bff;
  transition: width 0.3s ease;
}