<div class="mini-hero-sec bg-img">
  <h2 class="page-title text-center lz">
    Project<br> Stories
  </h2>
</div>
<div class="project-card mt-5">
  <div class="row d-flex flex-column flex-md-row">
    <div class="col-12 col-md-4 order-0 order-md-0">
      <div class="project-img">
        <img src="/assets/imgs/blog-hero.jpg" alt="Project Image" class="img-fluid">
      </div>
    </div>
    <div class="col-12 col-md-8 p-4 order-1 order-md-1">
      <div class="project-info d-flex">
        <div class="stack text-secondary">Stack</div>
        <div class="vertical-line"></div>
        <div class="industry text-secondary">Industry</div>
      </div>
      <div class="flex-column d-flex">
        <h3 class="project-title text-white">Lorem ipsum</h3>
        <div class="project-detail text-white pt-4">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, cum
          excepturi! Accusamus, consequatur. Vero adipisci dolores repudiandae earum corporis vitae necessitatibus nihil
          unde, porro voluptate quo ad. Labore, fuga explicabo!
        </div>
      </div>
      <button class="text-white read-more-btn">Read More</button>
    </div>
  </div>


</div>

<nav aria-label="Page navigation example" class="mt-5">
  <ul class="pagination justify-content-center">
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>