.blog-hero-section {
  background-color: #303030;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  max-width: 92%;
  margin: 0 auto;
}

.page-title {
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.8px);
  font-size: 2.2rem;
  background: rgba(255, 255, 255, 0.66);
  margin: 0;
  padding: 6rem 0;
}

.bg-img {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-img img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.blog-card {
  position: relative;
  display: inline-block;
  /* Adjust as needed for your use case */
  border-radius: 10px;
  /* Border radius for the gradient */
  border: none;
  background: transparent;
  /* Ensure no background color */
  z-index: 1;
  width: 100%;
  min-height: 220px;
}

.blog-card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 45px;
  /* Same radius as the container */
  padding: 3px;
  /* Width of the gradient border */
  background: linear-gradient(to right, #F2E89D, #9BE0C6, #F2E89D);
  -webkit-mask: linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  /* Ensure only border area is visible */
  mask: linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  z-index: -1;
  /* Place behind the content */
}

.cards-section {
  padding: 0 7rem;
}

img {
  border-top-left-radius: 45px;
  border-top-right-radius: 45px;
  border-bottom-right-radius: 45px
}

.blog-text {
  font-size: 0.9rem;
}

button {
  border: none;
  background: none;
  color: #fff;
  float: right;
}

.vertical-line {
  width: 1px;
  background-color: #a3a3a3;
}

.btns {
  display: flex;
  flex-direction: row-reverse;
  gap: 20rem;
}


/* search css  */
/* Define the colors and transition */
body {
  background: #2A2E37;
}

.search {
  width: 100px;
  height: 100px;
  margin: 40px auto 0;
  background-color: #242628;
  position: relative;
  overflow: hidden;
  transition: all .5s ease;
}

.search:before {
  content: '';
  display: block;
  width: 3px;
  height: 100%;
  position: relative;
  background-color: #00FEDE;
  transition: all .5s ease;
}

.blog-time {
  display: none;
}

/* When the search element has the 'open' class */
/* .search.open {
  width: 420px;
}

.search.open:before {
  height: 60px;
  margin: 20px 0 20px 30px;
  position: absolute;
}

.search-box {
  width: 100%;
  height: 100%;
  box-shadow: none;
  border: none;
  background: transparent;
  color: #fff;
  padding: 20px 100px 20px 45px;
  font-size: 40px;
}

.search-box:focus {
  outline: none;
}

.search-button {
  width: 100px;
  height: 100px;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  padding: 20px;
  cursor: pointer;
}

.search-icon {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  border: 3px solid #00FEDE;
  display: block;
  position: relative;
  margin-left: 5px;
  transition: all} */

.page-link {
  color: #69caba;
}

@media (max-width: 425px) {
  .cards-section {
    padding: 0 1rem;
  }

  .img-fluid {
    height: 8rem !important;
    width: 7rem !important;
    border-radius: 15px;
  }

  .blog-text, .blog-date, .blog-topic, .vertical-line {
    display: none;
  }

  .card-body {
    padding: 0;
    display: flex;
    flex-direction: column-reverse;
  }

  .blog-time {
    display: block;
  }

  .bg-img img {
    width: 100% !important;
  }
}

.blog-heading {
  display: contents;
}

.truncated-content {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  /* Show only 3 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  /* Ensure multi-line truncation works */
}