<div class="blog-hero-section">
  <div id="carouselExampleCaptions2" class="carousel carousel-dark slide" data-bs-ride="false">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <!-- <div class="search">
          <input type="search" class="search-box" />
          <span class="search-button">
            <span class="search-icon"></span>
          </span>
        </div> -->
        <div class="row">
          <div class="col-5">
            <div class="bg-img">
              <img class="img-fluid" src="/assets/imgs/blog-hero.jpg" alt="">
            </div>
          </div>
          <div class="col-7 p-4">
            <div class="blog-info">
              <div class="blog-date">date</div>
              <div class="vertical-line"></div>
              <div class="author-name">Author</div>
              <div class="vertical-line"></div>
              <div class="blog-topic">Topic</div>
            </div>
            <h3 class="blog-heading text-white mt-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit,</h3>
            <div class="blog-text text-white mt-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur
              adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur
              adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
            <button routerLink="/blog-reading" >Read More</button>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row">
          <div class="col-5">
            <div class="bg-img">
              <img class="img-fluid" src="/assets/imgs/blog-hero.jpg" alt="">
            </div>
          </div>
          <div class="col-7 p-4">
            <div class="blog-info">
              <div class="blog-date">date</div>
              <div class="vertical-line"></div>
              <div class="author-name">Author</div>
              <div class="vertical-line"></div>
              <div class="blog-topic">Topic</div>
            </div>
            <h3 class="blog-heading text-white mt-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit,</h3>
            <div class="blog-text text-white mt-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur
              adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur
              adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
            <button routerLink="/blog-reading" >Read More</button>
          </div>
        </div>
      </div>

      <div class="carousel-item">
        <div class="row">
          <div class="col-5">
            <div class="bg-img">
              <img class="img-fluid" src="/assets/imgs/blog-hero.jpg" alt="">
            </div>
          </div>
          <div class="col-7 p-4">
            <div class="blog-info">
              <div class="blog-date">date</div>
              <div class="vertical-line"></div>
              <div class="author-name">Author</div>
              <div class="vertical-line"></div>
              <div class="blog-topic">Topic</div>
            </div>
            <h3 class="blog-heading text-white mt-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit,</h3>
            <div class="blog-text text-white mt-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur
              adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur
              adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
            <button routerLink="/blog-reading" >Read More</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Carousel Controls -->
    <div class="btns">
      <button class="" type="button" data-bs-target="#carouselExampleCaptions2" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
      <button class="" type="button" data-bs-target="#carouselExampleCaptions2" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
    </div>
  </div>
</div>
<div class="cards-section">
  <a  routerLink="/blog-reading" class="card mt-5 blog-card text-decoration-none">
    <div class="row g-0">
      <div class="col-4 col-md-4">
        <img src="/assets/imgs/blog-hero.jpg" class="img-fluid" alt="..."
          style="height: 220px; width: 450px; object-fit: cover;">
      </div>
      <div class="col-8 col-md-8">
        <div class="card-body">
          <div class="blog-info">
            <div class="blog-date">date</div>
            <div class="vertical-line"></div>
            <div class="author-name">Author</div>
            <div class="vertical-line"></div>
            <div class="blog-topic">Topic</div>
            <div class="blog-time">5 minute read</div>
          </div>
          <h3 class="blog-heading mt-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h3>
          <p class="blog-text mt-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </div>
    </div>
  </a>
  <a  routerLink="/blog-reading" class="card mt-5 blog-card text-decoration-none">
    <div class="row g-0">
      <div class="col-4 col-md-4">
        <img src="/assets/imgs/blog-hero.jpg" class="img-fluid" alt="..."
          style="height: 220px; width: 450px; object-fit: cover;">
      </div>
      <div class="col-8 col-md-8">
        <div class="card-body">
          <div class="blog-info">
            <div class="blog-date">date</div>
            <div class="vertical-line"></div>
            <div class="author-name">Author</div>
            <div class="vertical-line"></div>
            <div class="blog-topic">Topic</div>
            <div class="blog-time">5 minute read</div>
          </div>
          <h3 class="blog-heading mt-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h3>
          <p class="blog-text mt-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </div>
    </div>
  </a>
  <a  routerLink="/blog-reading" class="card mt-5 blog-card text-decoration-none">
    <div class="row g-0">
      <div class="col-4 col-md-4">
        <img src="/assets/imgs/blog-hero.jpg" class="img-fluid" alt="..."
          style="height: 220px; width: 450px; object-fit: cover;">
      </div>
      <div class="col-8 col-md-8">
        <div class="card-body">
          <div class="blog-info">
            <div class="blog-date">date</div>
            <div class="vertical-line"></div>
            <div class="author-name">Author</div>
            <div class="vertical-line"></div>
            <div class="blog-topic">Topic</div>
            <div class="blog-time">5 minute read</div>
          </div>
          <h3 class="blog-heading mt-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h3>
          <p class="blog-text mt-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </div>
    </div>
  </a>
  <a  routerLink="/blog-reading" class="card mt-5 blog-card text-decoration-none">
    <div class="row g-0">
      <div class="col-4 col-md-4">
        <img src="/assets/imgs/blog-hero.jpg" class="img-fluid" alt="..."
          style="height: 220px; width: 450px; object-fit: cover;">
      </div>
      <div class="col-8 col-md-8">
        <div class="card-body">
          <div class="blog-info">
            <div class="blog-date">date</div>
            <div class="vertical-line"></div>
            <div class="author-name">Author</div>
            <div class="vertical-line"></div>
            <div class="blog-topic">Topic</div>
            <div class="blog-time">5 minute read</div>
          </div>
          <h3 class="blog-heading mt-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h3>
          <p class="blog-text mt-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </div>
    </div>
  </a>
  <a  routerLink="/blog-reading" class="card mt-5 blog-card text-decoration-none">
    <div class="row g-0">
      <div class="col-4 col-md-4">
        <img src="/assets/imgs/blog-hero.jpg" class="img-fluid" alt="..."
          style="height: 220px; width: 450px; object-fit: cover;">
      </div>
      <div class="col-8 col-md-8">
        <div class="card-body">
          <div class="blog-info">
            <div class="blog-date">date</div>
            <div class="vertical-line"></div>
            <div class="author-name">Author</div>
            <div class="vertical-line"></div>
            <div class="blog-topic">Topic</div>
            <div class="blog-time">5 minute read</div>
          </div>
          <h3 class="blog-heading mt-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h3>
          <p class="blog-text mt-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </div>
    </div>
  </a>

  <nav aria-label="Page navigation example" class="mt-5">
    <ul class="pagination justify-content-center">
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
</div>