<div class="blog-hero-section">
  <div id="carouselExampleCaptions2" class="carousel carousel-dark slide" data-bs-ride="false">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <!-- <div class="search">
          <input type="search" class="search-box" />
          <span class="search-button">
            <span class="search-icon"></span>
          </span>
        </div> -->
        <div class="row d-flex flex-column flex-md-row">
          <div class="col-12 col-md-5 order-0 order-md-0">
            <div class="bg-img">
              <img src="/assets/imgs/blog-hero.jpg" alt="Blog Hero" class="img-fluid">
            </div>
          </div>
          <div class="col-12 col-md-7 p-4 order-1 order-md-1">
            <div class="blog-info d-flex">
              <div class="blog-date">date</div>
              <div class="vertical-line"></div>
              <div class="author-name">Author</div>
              <div class="vertical-line"></div>
              <div class="blog-topic">Topic</div>
            </div>
            <h3 class="blog-heading text-white fw-bold monda mt-3">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            </h3>
            <div class="blog-text text-white d-inline-block mt-5">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur
              adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit
              amet,
              consectetur
              adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </div>
            <button routerLink="/blog-reading">Read More</button>
          </div>
        </div>

      </div>

      <div class="carousel-item">
        <div class="row d-flex flex-column flex-md-row">
          <div class="col-12 col-md-5 order-0 order-md-0">
            <div class="bg-img">
              <img src="/assets/imgs/blog-hero.jpg" alt="Blog Hero" class="img-fluid">
            </div>
          </div>
          <div class="col-12 col-md-7 p-4 order-1 order-md-1">
            <div class="blog-info d-flex">
              <div class="blog-date">date</div>
              <div class="vertical-line"></div>
              <div class="author-name">Author</div>
              <div class="vertical-line"></div>
              <div class="blog-topic">Topic</div>
            </div>
            <h3 class="blog-heading text-white fw-bold monda mt-3">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            </h3>
            <div class="blog-text text-white d-inline-block mt-5">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur
              adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit
              amet,
              consectetur
              adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </div>
            <button routerLink="/blog-reading">Read More</button>
          </div>
        </div>

      </div>

      <div class="carousel-item">
        <div class="row d-flex flex-column flex-md-row">
          <div class="col-12 col-md-5 order-0 order-md-0">
            <div class="bg-img">
              <img src="/assets/imgs/blog-hero.jpg" alt="Blog Hero" class="img-fluid">
            </div>
          </div>
          <div class="col-12 col-md-7 p-4 order-1 order-md-1">
            <div class="blog-info d-flex">
              <div class="blog-date">date</div>
              <div class="vertical-line"></div>
              <div class="author-name">Author</div>
              <div class="vertical-line"></div>
              <div class="blog-topic">Topic</div>
            </div>
            <h3 class="blog-heading text-white fw-bold monda mt-3">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            </h3>
            <div class="blog-text text-white d-inline-block mt-5">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur
              adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit
              amet,
              consectetur
              adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </div>
            <button routerLink="/blog-reading">Read More</button>
          </div>
        </div>

      </div>
    </div>

    <!-- Carousel Controls -->
    <div class="btns">
      <button class="" type="button" data-bs-target="#carouselExampleCaptions2" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
      <button class="" type="button" data-bs-target="#carouselExampleCaptions2" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
    </div>
  </div>
</div>


<div *ngIf="isLoading">Loading blogs...</div>

<div *ngIf="!isLoading && blogs.length > 0" class="cards-section">
  <a  [routerLink]="['/blog-reading', blog.id]" *ngFor="let blog of blogs" class="card mt-5 blog-card text-decoration-none">
    <div class="row g-0">
      <div class="col-4 col-md-4">
        <img
          [src]="blog.img || 'assets/default-thumbnail.jpg'"
          alt="Blog image"
          class="blog-img img-fluid"
          style="height: 220px; width: 450px; object-fit: cover;"
        />
      </div>
      <div class="col-8 col-md-8">
        <div class="card-body">
          <div class="blog-info d-flex align-items-center">
            <div class="blog-date"><strong>Date:</strong> {{ blog.date | date: 'mediumDate' }}</div>
            <div class="vertical-line mx-2"></div>
            <div class="author-name"><strong>Author:</strong> {{ blog.author }}</div>
            <div class="vertical-line mx-2"></div>
            <div class="blog-topic"><strong>Topic:</strong> {{ blog.topic }}</div>
          </div>
          <h3 class="blog-heading mt-2">{{ blog.title }}</h3>
          <p [innerHTML]="blog.sanitizedContent" class="blog-text mt-2 truncated-content"></p>
        </div>
      </div>
    </div>
  </a>

  <nav aria-label="Page navigation example" class="mt-5">
    <ul class="pagination justify-content-center">
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
