/* You can add global styles to this file, and also import other style files */
.hero-section {
  overflow: hidden;
  background-size: cover;
  background-position: center;
  max-width: 92%;
  padding: 30px;
  margin: 0 auto;
  border-radius: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  background-color: #f5f5f5;
}

.mini-heading {
  color: #4f52e2;
  font-size: 14px;
  font-weight: 700;
}

.heading-about {
  font-size: 44px;
  line-height: 1.3;
  color: #00000063;
  font-weight: 300;
}

.blog-info {
  display: flex;
  color: #a3a3a3;
  gap: 2rem;
}