<div class="blog-reading-hero-section mb-5">
  <img src="assets/imgs/about-us.jpg" alt="Hero Image">
</div>


<!-- <div class="blog-reading-section">
  <div class="blog-info">
    <div class="blog-date">date</div>
    <div class="author-name">Author</div>
    <div class="blog-topic">Topic</div>
  </div>
  <div class="blog-length mt-3">
    5 min read
  </div>
  <div class="blog-heading  heading-about">
    Lorem ipsum dolor sit amet, consectetur adipiscing
  </div>
  <hr>
</div> -->
<div class="blog-reading-section">
  <div class="blog-info">
    <div class="blog-date">date</div>
    <div class="author-name">Author</div>
    <div class="blog-topic">Topic</div>
  </div>
  <div class="blog-length mt-3">
    5 min read
  </div>
  <div class="blog-heading heading-about">
    Lorem ipsum dolor sit amet, consectetur adipiscing
  </div>
  <hr>

  <!-- Paragraph Section -->
  <div class="blog-content">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tristique felis at turpis viverra, nec
      tincidunt quam tincidunt.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tristique felis at
      turpis viverra, nec
      tincidunt quam tincidunt.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tristique felis at
      turpis viverra, nec
      tincidunt quam tincidunt.</p>

    <!-- Image Section -->
    <div class="blog-image">
      <img src="assets/imgs/about-us.jpg" alt="Descriptive Alt Text">
    </div>

    <!-- Additional Paragraphs -->
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam et leo id nisi volutpat pharetra.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tristique felis at turpis viverra, nec
    tincidunt quam tincidunt.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tristique felis at turpis viverra, nec
    tincidunt quam tincidunt.</p>
    <p>Phasellus luctus libero et neque venenatis, vitae vulputate arcu volutpat. Integer a urna nec velit pharetra
      eleifend.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tristique felis at turpis viverra, nec
      tincidunt quam tincidunt.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tristique felis at turpis viverra, nec
      tincidunt quam tincidunt.</p>
    <p>Sed sit amet turpis a sapien facilisis ultrices nec id arcu. Nam convallis urna at enim finibus, at dictum metus
      mollis.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tristique felis at turpis viverra, nec
      tincidunt quam tincidunt.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tristique felis at turpis viverra, nec
      tincidunt quam tincidunt.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tristique felis at turpis viverra, nec
      tincidunt quam tincidunt tincidunt. </p>
  </div>
</div>