<div class="blog-reading-hero-section mb-5">
  <img [src]="blog?.heroImageUrl || 'assets/imgs/about-us.jpg'" alt="Hero Image">
</div>

<div class="blog-reading-section">
  <div class="blog-info">
    <!-- <div class="blog-date">{{blog.date | date: 'mediumDate' }}</div> -->
    <div class="author-name">{{ blog?.author_name || 'Unknown Author' }}</div>
    <!-- <div class="blog-topic">{{ blog?.additional_details?.categories || 'Untitled Topic' }}</div> -->
    <div class="blog-topic">{{ blog?.category || 'Untitled Topic' }}</div>
  </div>

  <div class="blog-length mt-3">
    {{ readTime || 'Unknown Read Time' }} min read
  </div>

  <div class="blog-heading heading-about">
    {{ blog?.title || 'Untitled Blog' }}
  </div>
  <hr>

  <!-- Paragraph Section -->
  <div class="blog-content">
    <div [innerHtml]="blogContent"></div>

    <!-- Image Section -->
    <div class="blog-image" *ngIf="blog?.imageUrl">
      <img [src]="blog?.imageUrl" alt="Descriptive Alt Text">
    </div>

    <!-- Additional Paragraphs -->
    <p *ngFor="let paragraph of blog?.additionalParagraphs">{{ paragraph }}</p>
  </div>
</div>