<div class="main-area-wrapper">
  <div class="main-area center-text" style="background-image:url(images/countdown-5-1600x900.jpg);">

    <div class="display-table">
      <div class="display-table-cell">

        <h1 class="title"><b>Comming Soon</b></h1>
        <p class="desc font-white">Our website is currently undergoing maintenance.
          We Should be back shortly. Thank you for your patience.</p>

        <div id="normal-countdown" data-date="2018/01/01"></div>

        <a class="notify-btn" routerLink="/contact"><b>NOTIFY US</b></a>

        <ul class="social-btn">
          <li class="list-heading" style="color: black;">Follow us for update</li>
        </ul>

      </div>
    </div>
  </div>
</div>