<div class="mini-hero-sec bg-img">
  <div class="page-title text-center">
    Ed Tech <br> Development
  </div>
</div>
<section class="gradient-section py-5 ">
  <div class="d-flex flex-column">
    <h3 class="mb-4">Services</h3>
    <owl-carousel-o [options]="customOptions1">
      <ng-container *ngFor="let slide of slidesStore">
        <ng-template carouselSlide [id]="slide.id">
          <div class="slide-container">
            <img [src]="slide.src" [alt]="slide.alt" />
          </div>
        </ng-template>
      </ng-container>
    </owl-carousel-o>
  </div>

  <div class="d-flex flex-column mt-5">
    <h3 class="mb-4">Industries</h3>
    <owl-carousel-o [options]="customOptions2">
      <ng-container *ngFor="let slide of slidesStore">
        <ng-template carouselSlide [id]="slide.id">
          <div class="slide-container">
            <img [src]="slide.src" [alt]="slide.alt" />
          </div>
        </ng-template>
      </ng-container>
    </owl-carousel-o>
  </div>
</section>